---
import Contact from "../components/Contact.astro";
import Layout from "../layouts/Layout.astro";

const title = "Contact |";
---

<Layout title={title}>
	<div class="w-full max-w-7xl mx-auto text-palette-brightest-white py-16 min-h-dvh h-full">
		<Contact />
    </div>
</Layout>