---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="flex flex-col items-center justify-center min-h-[calc(100vh-4rem)]">
		<h1 class="text-palette-brightest-white text-4xl font-medium">Marek Vicáň</h1>
	</div>
</Layout>
